<% @page_title = "Showing #{@user.username}" %>
<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for(@user, 256) %>

<% if session[:user_id] && (@user.id == session[:user_id] || session[:admin])%>
  <div class="text-center mt-4">
    <%= link_to('Edit your profile', edit_user_path(@user), class: 'btn btn-info') %>
    <%= link_to('Delete profile', user_path(@user), method: :delete, class: 'btn btn-danger', data: { confirm: "This cannot be undone so be real sure you want this all the #{pluralize(@user.articles.count, 'article')} will be deleted as well." }) %>
  </div>
<% end %>

<h3 class="text-center mt-4">Articles</h3>

<div class="flickr_pagination">
  <%= will_paginate @articles, container: false %>
</div>

<%= render 'articles/article' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, container: false %>
</div>
