<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to('Terrible Blog', root_path, id: 'logo', class: 'navbar-brand') %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to('People', users_path, class: 'nav-link') %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to('View Articles', articles_path, class: 'dropdown-item') %>
          <% if session[:user_id] %>
            <div class="dropdown-divider"></div>
            <%= link_to('Create New Article', new_article_path, class: 'dropdown-item') %>
          <% end %>
        </div>
      </li>
      <% unless session[:user_id].nil? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Logged in as <%= session[:username].capitalize %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
            <%= link_to('View Profile', user_path(session[:user_id]), class: 'dropdown-item') %>
            <div class="dropdown-divider"></div>
            <%= link_to('Edit Profile', edit_user_path(session[:user_id]), class: 'dropdown-item') %>
          </div>
        </li>
      <% end %>
      <li class="nav-item">
        <% if session[:user_id].nil? %>
          <%= link_to('Login', login_path, class: 'nav-link btn btn-info') %>
        <% else %>
          <%= link_to('Logout', logout_path, class: 'nav-link btn btn-danger', method: :delete) %>
        <% end %>
      </li>
      <% if session[:user_id].nil? %>
        <li class="nav-item">
          <%= link_to('Sign up', signup_path, class: 'nav-link btn btn-success ml-4') %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>