<!DOCTYPE html>
<html lang="en">
  <head>
    <% @page_title = 'TerribleBlog' if @page_title.nil? %>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <%= render 'layouts/navbar' %>
    <div id="page-content">
      <%= render 'layouts/msg' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
